body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

ol li{
    width: 100%;
    padding-right: 5px;
}

.bt{
    margin-left: 5px;
}